:root {
    --wiki-box: 625px;
    --hirek-box: 200px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(17, 17, 17);
    color: white;
}

.top-nav a {
    color: white;
}

a {
    color: rgb(0, 119, 255);
}

a:hover {
    color: rgb(255, 0, 0);
}

h2 {
    font-weight: bold;
}

.mid-box {
    text-align: center;
}

.udvozlet {
    border: 1px solid rgb(31, 31, 31);
    padding: 15px;
    overflow: hidden;
    margin-top: 12px;

    display: inline-block;
    vertical-align: top;
    width: 50%;
    max-width: 500px;
    border: 1px solid rgb(31, 31, 31);
    padding: 15px;
    overflow: hidden;
    margin-right: 6px;

}

.udvozlet p {
    margin-top: 7px;
}

.wiki-box {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    max-width: 500px;
    border: 1px solid rgb(31, 31, 31);
    padding: 15px;
    overflow: hidden;
    height: var(--wiki-box);
    margin-right: 6px;
}

.wiki-img {
    margin-top: 10px;
}

.hirek-box {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    max-width: 500px;
    border: 1px solid rgb(31, 31, 31);
    padding: 15px;
    overflow: hidden;
    height: var(--wiki-box);
    margin-left: 6px;
}

.idezet-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    padding: 15px;
    max-width: 650px;
    border: 1px solid rgb(31, 31, 31);
    display: inline-block;
}

.tovabbi-oldalak {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    max-width: 500px;
    border: 1px solid rgb(31, 31, 31);
    padding: 15px;
    overflow: hidden;
    height: 150px;
    margin-right: 6px;
}

.tovabbi-oldalak a {
    color: white;
}

.tovabbi-oldalak a:hover {
    color: red;
}

.kulso-oldalak {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    max-width: 500px;
    border: 1px solid rgb(31, 31, 31);
    padding: 15px;
    overflow: hidden;
    height: 150px;
    margin-left: 6px;
}

.boxes > div {
    font-size: 0;
}

.boxes :not(div) {
    font-size: 1rem;
}

.oldalak {
    margin-top: 12px;
}

.kulso-oldalak a {
    color: white;
}

.kulso-oldalak a:hover {
    color: red;
}

#heti-idezet {
    float: left;
}

.boxes {

    max-width: 1015px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

hr {
    height: 1px;
    background-color: rgb(74, 74, 74);
    border: none;
}

footer {
    padding: 30px;
    line-height: 22px;
    max-width: 1012px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


@media (max-width: 700px) {

    .udvozlet {
        width: 100%;
        max-width: 500px;
        border: 1px solid rgb(31, 31, 31);
        padding: 15px;
        margin-top: 15px;
        margin-right: 0px;
    }

    .idezet-box {
        margin-top: 15px;
        max-width: 500px;
        margin-left: 0;
        margin-right: 0;
    }

    .boxes {
        margin-top: 15px;
    }

    .udvozlet {
        margin-top: 15px;
    }

    .wiki-box {
        width: 100%;
        max-width: 500px;
        border: 1px solid rgb(31, 31, 31);
        padding: 15px;
        margin-top: 15px;
        margin-right: 0px;
    }

    .hirek-box {
        width: 100%;
        max-width: 500px;
        border: 1px solid rgb(31, 31, 31);
        padding: 15px;
        margin-right: 6px;
        overflow: hidden;
        margin-top: 15px;
        margin-left: 0px;
        height: var(--hirek-box);
    }

    .tovabbi-oldalak {
        width: 100%;
        max-width: 500px;
        border: 1px solid rgb(31, 31, 31);
        padding: 15px;
        margin: 0;
    }

    .kulso-oldalak {
        width: 100%;
        max-width: 500px;
        border: 1px solid rgb(31, 31, 31);
        padding: 15px;
        margin-right: 6px;
        margin-top: 12px;
        overflow: hidden;
        margin-left: 0px;
    }

    .boxes {
        max-width: 500px;
    }

  }